<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
        colors="false" >

    <testsuites>
        <testsuite name="PHPMinion Test Suite">
            <!-- CURRENT -->
            <file>./tests/PHPMinion/Utilities/EntityAnalyzer/Workers/ObjectWorkerTest.php</file>

            <!-- IN PROGRESS -->
            <!--
            <directory>./tests/PHPMinion</directory>
            -->

            <!-- KNOWN GOOD TESTS -->
            <!--
            <directory>./tests/PHPMinion/Utilities/Core</directory>
            <directory>./tests/PHPMinion/Utilities/EntityAnalyzer</directory>

            <file>./tests/PHPMinion/Utilities/ClassAnalyzer/ClassAnalyzerTest.php</file>
            <file>./tests/PHPMinion/Utilities/ClassAnalyzer/ClassAnalysis/ClassAnalysisTest.php</file>
            <file>./tests/PHPMinion/Utilities/ClassAnalyzer/PropertyAnalysis/PropertyAnalysisTest.php</file>

            <file>./tests/PHPMinion/Utilities/EntityAnalyzer/Factories/WorkerFactoryTest.php</file>
            <file>./tests/PHPMinion/Utilities/EntityAnalyzer/Workers/ScalarWorkerTest.php</file>
            <file>./tests/PHPMinion/Utilities/EntityAnalyzer/Workers/ArrayWorkerTest.php</file>
            <file>./tests/PHPMinion/Utilities/EntityAnalyzer/Factories/RendererFactoryTest.php</file>
            <file>./tests/PHPMinion/Utilities/EntityAnalyzer/EntityAnalyzerTest.php</file>
            -->

        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
            <!--
            <exclude>
                <directory suffix=".php">.//</directory>
            </exclude>
            -->
        </whitelist>
    </filter>

    <!--
    <logging>
        <log type="coverage-clover" target="./tests/reports/coverage.xml"/>
        <log type="coverage-html" target="./tests/reports/html" lowUpperBound="35" highLowerBound="70"/>
    </logging>
    -->

</phpunit>
